.newsletter{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width:65%;
    height: 60vh;
    margin: auto;
    padding:0px 140px;
    margin-top: 50px;
}
.newsletter h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.input input{
      width:400px;
      height:70px;
      border-radius: 35px;
      font-size: 17px;
      background-color:linear-gradient(180deg,#fde1ff,#e1ffea22 60%);;
}
.input button{
    height: 75px;
    width:150px;
    margin-left: -70px;
    border-radius: 35px;
    font-size: 16px;
    color: white;
    background-color: #171717;
}