.item{
    width:350px;
}
.item1{
    display: flex;
    flex-direction: column;
}
.item img{
    border-radius: 25px;
}
.itemprice{
    display:flex;
    gap: 10px;
}
.itemprices_new{
    color:#374151;
    font-size: 18px;
    font-weight: 600px;
}
.itemprice_old{
 color: #8c8c8c;
 font-size: 18;
 font-weight: 500px;
 text-decoration: line-through;
}
.item p{
    margin:6px 0px;
}
.item:hover{
    transform:scale(1.05);
    transition: 0.6s;
}